<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Application</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-6" *ngFor="let forecast of this.weatherData.forecast.forecastday">
    <h3 class="text-center my-4">Weather Details:</h3>
    <p class="text-center">
      Current weather conditions:
     <strong> {{ forecast.date}}. </strong>
    </p>
    <p class="text-center">
      Temperature in Degrees Celsius:<strong> {{ forecast?.day.avgtemp_c }} </strong>
    </p>
    <p class="text-center">
      Temperature in Degrees Farenheit: <strong>{{ forecast?.day.avgtemp_f }} </strong>
    </p>
    <p class="text-center">
        Condition :<br>
         <strong> {{ forecast?.day.condition.text }} <br>
          
           <img src="{{ forecast?.day.condition.icon }}">
           
     
         </strong>
    </p>
    
    
    <p class="text-center">
      Location Searched:<strong> {{ this.weatherData?.location.name }},
      {{ this.weatherData?.location.country }}.</strong>
    </p>
  </div>
</div>
